@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Header Content
	3.3 Logo
	3.4 Main Nav
	3.5 Hamburger
4. Menu
5. Home
6. About
7. Mission
8. Team
9. Quote
10. Footer



******************************/

/***********
1. Fonts
***********/


/*********************************
8. Team
*********************************/

.team
{
	padding-top: 97px;
	padding-bottom: 34px;
	background: #FFFFFF;
}
.team_row
{
	margin-top: 52px;
}
.team_col
{
	margin-bottom: 30px;
}
.team_item
{
	width: 100%;
	padding-bottom: 30px;
}
.team_image
{
	width: 100%;
}
.team_image img
{
	max-width: 100%;
}
.team_name
{
	font-size: 20px;
	color: #181818;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 29px;
}
.team_title
{
	font-family: 'Old Standard TT', serif;
	font-size: 16px;
	font-style: italic;
	color: #b10707;
	margin-top: 4px;
}
.team_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(177,7,7,0.5);
	color: #FFFFFF;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 44px;
	visibility: hidden;
	opacity: 0;
}
.team_item:hover .team_overlay
{
	visibility: visible;
	opacity: 1;
}
.team_overlay_text p
{
	font-size: 14px;
	color: #FFFFFF;
	line-height: 1.57;
}
.team_overlay_contact
{
	margin-top: 15px;
}
.team_overlay_contact ul li i,
.team_overlay_contact ul li div
{
	display: inline-block;
}
.team_overlay_contact ul li div
{
	font-size: 14px;
	color: #FFFFFF;
}

/*********************************
9. Quote
*********************************/

.quote
{
	width: 100%;
	background: #f7f7f7;
	padding-top: 100px;
	padding-bottom: 99px;
}
.quote_container
{
	max-width: 830px;
	margin-left: auto;
	margin-right: auto;
}
.quote_icon
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 0;
}
.quote_quote
{
	font-family: 'Old Standard TT', serif;
	font-size: 26px;
	color: #181818;
	z-index: 10;
	line-height: 1.4;
}
.quote_source
{
	font-family: 'Assistant', sans-serif;
	font-size: 18px;
	color: #b10707;
	font-weight: 600;
	margin-top: 13px;
}

/*********************************
10. Footer
*********************************/

.footer
{
	display: block;
	position: relative;
}
.footer_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.footer_contact_column
{
	padding-top: 54px;
}
.footer_logo,
.footer_logo_text
{
	display: inline-block;
}
.footer_logo
{
	width: 60px;
	height: 60px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_logo img
{
	max-width: 100%;
}
.footer_logo_text
{
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 0.75;
	color: #FFFFFF;
	vertical-align: middle;
	margin-left: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_contact
{
	margin-top: 33px;
}
.footer_contact ul li:not(:last-child)
{
	margin-bottom: 7px;
}
.footer_contact ul li div
{
	display: inline-block;
	width: 14px;
	height: 14px;
}
.footer_contact ul li div i
{
	color: #b10707;
}
.footer_contact ul li span
{
	font-size: 14px;
	color: #FFFFFF;
	margin-left: 7px;
}
.footer_links
{
	padding-top: 70px;
	padding-left: 70px;
	padding-right: 70px;
}
.footer_title
{
	font-size: 18px;
	color: #FFFFFF;
	line-height: 0.75;
	font-weight: 600;
	text-transform: uppercase;
}
.footer_links_list
{
	columns: 2;
	-webkit-columns: 2;
  	-moz-columns: 2;
  	margin-top: 32px;
}
.footer_links_list li
{
	margin-bottom: 11px;
}
.footer_links_list li a
{
	font-size: 14px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_links_list li a:hover
{
	color: #b10707;
}
.footer_links_list li a i
{
	color: #b10707 !important;
}
.footer_subscribe
{
	padding-top: 70px;
}
.footer_text
{
	font-size: 14px;
	color: #FFFFFF;
	line-height: 1.71;
	margin-top: 32px;
}
.footer_form_container
{
	margin-top: 30px;
}
.subscribe_input
{
	width: 100%;
	height: 40px;
	border: solid 1px rgba(235,235,235,0.15);
	border-radius: 3px;
	background: transparent;
	padding-left: 22px;
	outline: none;
	color: #FFFFFF;
}
.subscribe_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #c0c0c0 !important;
}
.subscribe_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #c0c0c0 !important;
}
.subscribe_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #c0c0c0 !important;
} 
.subscribe_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #c0c0c0 !important;
}
.subscribe_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #c0c0c0 !important;
}
.subscribe_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 40px;
	background: #FFFFFF;
	border: none;
	outline: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	font-size: 12px;
	color: #b10707;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}
.subscribe_button:hover
{
	background: #b10707;
	color: #FFFFFF;
}
.copyright_row
{
	margin-top: 58px;
}
.copyright_container
{
	width: 100%;
	height: 68px;
	border-top: solid 1px rgba(235,235,235,0.15);
}
.footer_social ul
{
	margin-right: -10px;
}
.footer_social ul li
{
	display: inline-block;
}
.footer_social ul li:not(:last-child)
{
	margin-right: 8px;
}
.footer_social ul li a i
{
	font-size: 15px;
	padding: 10px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li a i:hover
{
	color: #b10707;
}