
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

//Variables
@import 'variables';

//Bootstrap
@import '~bootstrap/scss/bootstrap';

// other libraries
@import 'includes/plugins/font-awesome-4.7.0/css/font-awesome.min.css';
@import 'includes/plugins/OwlCarousel2-2.2.1/owl.carousel.css';
@import 'includes/plugins/OwlCarousel2-2.2.1/owl.theme.default.css';
@import 'includes/plugins/OwlCarousel2-2.2.1/animate.css';
@import 'includes/plugins/colorbox/colorbox.css';
@import 'includes/styles/main_styles.css';
@import 'includes/styles/responsive.css';
@import 'includes/styles/abouts.css';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
